<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ASMJava6</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}" />
</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">
        <img src="images/logo.png" alt="" />
    </a>

    <nav class="navbar">
        <a th:href="@{/homepage}">home</a>
        <a href="#about">about</a>
        <a th:href="@{/products}">product</a>
        <a href="#">users</a>
        <a href="#products">our products</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
    </nav>

    <div class="icons">
        <input type="search" placeholder="" > <button type="submit">Search</button></input>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>

<section class="about" id="about">
    <div class="row">
        <tr th:each=" product : ${product12}">
        <div class="image">
                <div class="box-container" >
                    <div class="box">
                        <img th:src="@{'/images/' + ${product.image}}" width="20%" />
                        <a href="#" class="btn">Thêm giỏ hàng</a>
                    </div>
                </div>
        </div>

        <div class="content">
            <h3>Detail Products Special</h3>
            <p><td th:text="${'Tên sản phẩm :'+product.name}"></td></p>
            <p><td th:text="${'Giá :'+product.price + '$'}"></td></p>
            <p>Instant coffee or instant coffee is a beverage derived from coffee in the form of coffee powder and pre-seasoned according to taste and processed by dry roasting method. Instant coffee can be used immediately by making it with boiling water and stirring well. This type of coffee is very convenient to use, can be stored for a long time and is easy to use.</p>
            <a href="#" class="btn">learn more</a>
        </div>
        </tr>

    </div>

</section>
<section class="blogs" id="blogs">
    <div class="box-container">

        <div class="box">
            <div class="image">
                <img th:src="@{/images/blog-1.jpeg}" alt="" />
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img th:src="@{/images/blog-2.jpeg}" alt="" />
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img th:src="@{/images/blog-3.jpeg}" alt="" />
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">
    <div class="credit">all rights reserved</div>
</section>

<!-- footer section ends -->
</body>
</html>