<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
<main class="container-fluid">
    <nav class="row">
        <nav class="navbar navbar-expand-sm navbar-light bg-light col">
            <a class="navbar-brand" th:href="@{/users}">Admin</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/homepage}">Quay lại trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
    <section class="row">
        <div class="col mt-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="videoEditing-tab" data-toggle="tab" href="#videoEditing"
                       role="tab" aria-controls="videoEditing" aria-selected="true">From User</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="videoList-tab" data-toggle="tab" href="#videoList" role="tab"
                       aria-controls="videoList" aria-selected="false">User List</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="videoEditing" role="tabpanel"
                     aria-labelledby="videoEditing-tab">
                    <form th:action="@{/user/save}" th:object="${user}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" th:field="*{name}" id="name"
                                                   aria-describedby="youtubeIdHelpId" placeholder="Name" value="" />
                                            <small id="youtubeIdHelpId" class="form-text text-muted">Name
                                                không để chống</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="username">User Name</label>
                                            <input type="text" class="form-control" th:field="*{username}" id="username"
                                                   aria-describedby="youtubeIdHelpId" placeholder="User Name " value="" />
                                            <small id="youtubeIdHelpId" class="form-text text-muted">User Name
                                                không để chống</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Pass Word</label>
                                            <input type="password" class="form-control" th:field="*{password}" id="password"
                                                   aria-describedby="youtubeIdHelpId" placeholder="Pass Word" value="" />
                                            <small id="youtubeIdHelpId" class="form-text text-muted">Pass Word
                                                không để chống</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" th:field="*{email}" id="quantity"
                                                   aria-describedby="youtubeIdHelpId" placeholder="Email" value="" />
                                            <small id="youtubeIdHelpId" class="form-text text-muted">Email không để chống</small>
                                        </div>
                                        <div>
                                            <input type="radio" id="status" value="true" checked="checked" th:field="*{status}" />active
                                            <input type="radio" id="status" value="false" th:field="*{status}" />lock up
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a th:href="@{/users}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="videoList" role="tabpanel" aria-labelledby="videoList-tab">
                    <table class="table table-strip">
                        <tr>
                            <td>Name</td>
                            <td>User Name</td>
                            <td>Email</td>
                            <td>Status</td>
                            <td>Operation</td>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.status}"></td>
                            <td>
                                <a th:href="@{/user/edit/{id}(id=${user.id})}"><i class="fa fa-edit" aria-hidden="true"></i> Chỉnh sửa</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer class="row">

    </footer>
</main>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $('#myTab a').on('click', function (event) {
        event.preventDefault()
        $(this).tab('show')
    })
</script>


</body>

</html>
